.Weather {
  border: none;
  border-radius: 25px;
  background-image: url(./image/paris.jpg);

  width: 100%;
  object-fit: fill;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
  -webkit-box-shadow: 13px 13px 40px 3px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 13px 13px 40px 3px rgba(0, 0, 0, 0.47);
  box-shadow: 13px 13px 40px 3px rgba(0, 0, 0, 0.47);
}

.Weather .card {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
